# CALCULATION OF DASS AND TIPI SCORE ðŸ§®

---

In [ ]:
#Importing Pandas to read csv dataset file

import pandas as pd

In [ ]:
#Reading the data.csv file 
#<--In r'\t' ,r means a raw string for denoting the escape sequence '\t' as our values in csv file are seperated with a tab and not commas -->

#One can always open csv files in notepad to see what kind of seperation is used

df=pd.read_csv("/content/data.csv", sep=r'\t')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
#Dataframe

df

       Q1A  Q1I    Q1E  Q2A  ...  voted  married  familysize              major
0        4   28   3890    4  ...      2        1           2               None
1        4    2   8118    1  ...      2        1           4               None
2        3    7   5784    1  ...      1        1           3               None
3        2   23   5081    3  ...      2        1           5            biology
4        2   36   3215    2  ...      2        1           4         Psychology
...    ...  ...    ...  ...  ...    ...      ...         ...                ...
39770    2   31   3287    1  ...      2        1           2               None
39771    3   14   4792    4  ...      2        1           4         Mathematic
39772    2    1  25147    1  ...      1        2           3   Computer Science
39773    3   36   4286    1  ...      1        1           2            History
39774    2   28  32251    1  ...      1        1           4  Cognitive Science

[39775 rows x 172 columns]

#Calculating Depression Score

In [ ]:
#Reducing scores by 1

for i in range(39775):
  for j in range(1,43):
    colname="Q"+str(qn)+"A"
    df[colname][i]-=1

In [ ]:
dl=[3, 5, 10, 13, 16, 17, 21, 24, 26, 31, 34, 37, 38, 42]
sum=[]

for i in range(39775):
  s=0
  for qn in dl:
    colname="Q"+str(qn)+"A"
    s+=df[colname][i]
  sum.append(s)

In [ ]:
len(sum)

39775

In [ ]:
df["Depression Score"]=sum

In [ ]:
df.columns

Index(['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A',
       ...
       'uniquenetworklocation', 'hand', 'religion', 'orientation', 'race',
       'voted', 'married', 'familysize', 'major', 'Depression Score'],
      dtype='object', length=173)

#Calculating Anxiety Score

In [ ]:
al=[2, 4, 7, 9, 15, 19, 20, 23, 25, 28, 30, 36, 40, 41]
asum=[]

for i in range(39775):
  s=0
  for qn in al:
    colname="Q"+str(qn)+"A"
    s+=df[colname][i]
  asum.append(s)

In [ ]:
len(asum)

39775

In [ ]:
df["Anxiety Score"]=asum

#Calculating Stress Score

In [ ]:
sl=[1, 6, 8, 11, 12, 14, 18, 22, 27, 29, 32, 33, 35, 39]
ssum=[]

for i in range(39775):
  s=0
  for qn in sl:
    colname="Q"+str(qn)+"A"
    s+=df[colname][i]
  ssum.append(s)

In [ ]:
len(ssum)

39775

In [ ]:
df["Stress Score"]=ssum

In [ ]:
df.columns

Index(['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A',
       ...
       'religion', 'orientation', 'race', 'voted', 'married', 'familysize',
       'major', 'Depression Score', 'Anxiety Score', 'Stress Score'],
      dtype='object', length=175)

In [ ]:
df.to_csv("Scored Quiz.csv")

In [ ]:
df.to_excel("Scored Quiz Excel.xlsx")

#Calculating Personality Score

---
TIPI scale scoring (â€œRâ€ denotes reverse-scored items):

1. Extraversion: 1, 6R
2. Agreeableness: 2R, 7
3. Conscientiousness; 3, 8R
4. Emotional Stability: 4R, 9
5. Openness to Experiences: 5, 10R

In [ ]:
reversed_score={1:7,2:6,3:5,4:4,5:3,6:2,7:1}

In [ ]:
len(df["TIPI1"])

39775

In [ ]:
c=0
for x in df["TIPI1"]:
  if x==0:
    c+=1
print(c)

485

In [ ]:
""" index_dropped_for_tipiZero=[]

for i in range(39775):
  if df["TIPI1"][i]==0:
    index_dropped_for_tipiZero.append(i)

df.drop(index_dropped_for_tipiZero, inplace=True) """

' index_dropped_for_tipiZero=[]\n\nfor i in range(39775):\n  if df["TIPI1"][i]==0:\n    index_dropped_for_tipiZero.append(i)\n\ndf.drop(index_dropped_for_tipiZero, inplace=True) '

##Calculating Extraversion Score

In [ ]:
extraversion_score=[]

for i in range(39775):
  avg=0
  a=df["TIPI1"][i]
  x=df["TIPI6"][i]
  if a==0 or x==0:
    extraversion_score.append(0)
    continue
  b=reversed_score[x]
  avg=(a+b)/2
  extraversion_score.append(avg)

In [ ]:
len(extraversion_score)

39775

In [ ]:
df["Extraversion Score"]=extraversion_score

In [ ]:
df.columns

Index(['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A',
       ...
       'orientation', 'race', 'voted', 'married', 'familysize', 'major',
       'Depression Score', 'Anxiety Score', 'Stress Score',
       'Extraversion Score'],
      dtype='object', length=176)

In [ ]:
df["Extraversion Score"][10]

4.5

#Calculating Agreeableness Score

In [ ]:
agreeableness_score=[]

for i in range(39775):
  avg=0
  a=df["TIPI7"][i]
  x=df["TIPI2"][i]
  if a==0 or x==0:
    agreeableness_score.append(0)
    continue
  b=reversed_score[x]
  avg=(a+b)/2
  agreeableness_score.append(avg)

In [ ]:
df["Agreeableness Score"]=agreeableness_score

In [ ]:
df.columns

Index(['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A',
       ...
       'race', 'voted', 'married', 'familysize', 'major', 'Depression Score',
       'Anxiety Score', 'Stress Score', 'Extraversion Score',
       'Agreeableness Score'],
      dtype='object', length=177)

#Calculating Conscientiousness Score

In [ ]:
conscientiousness_score=[]

for i in range(39775):
  avg=0
  a=df["TIPI3"][i]
  x=df["TIPI8"][i]
  if a==0 or x==0:
    conscientiousness_score.append(0)
    continue
  b=reversed_score[x]
  avg=(a+b)/2
  conscientiousness_score.append(avg)

In [ ]:
df["Conscientiousness Score"]=conscientiousness_score

#Calculating Emotional Stability Score

In [ ]:
es_score=[]

for i in range(39775):
  avg=0
  a=df["TIPI9"][i]
  x=df["TIPI4"][i]
  if a==0 or x==0:
    es_score.append(0)
    continue
  b=reversed_score[x]
  avg=(a+b)/2
  es_score.append(avg)

In [ ]:
df["Emotional Stability Score"]=es_score

#Calculating Openness to Experiences

In [ ]:
openness=[]

for i in range(39775):
  avg=0
  a=df["TIPI5"][i]
  x=df["TIPI10"][i]
  if a==0 or x==0:
    openness.append(0)
    continue
  b=reversed_score[x]
  avg=(a+b)/2
  openness.append(avg)

In [ ]:
df["Openness to Experiences Score"]=openness

In [ ]:
df.columns

Index(['Q1A', 'Q1I', 'Q1E', 'Q2A', 'Q2I', 'Q2E', 'Q3A', 'Q3I', 'Q3E', 'Q4A',
       ...
       'familysize', 'major', 'Depression Score', 'Anxiety Score',
       'Stress Score', 'Extraversion Score', 'Agreeableness Score',
       'Conscientiousness Score', 'Emotional Stability Score',
       'Openness to Experiences Score'],
      dtype='object', length=180)

In [ ]:
df.to_csv("Dataset_Quiz.csv")